extends layout

block content
    h1 Friends List
    for friend in friends
        table.table
            thead
                tr
                    th(scope='col') username
                    th(scope='col') Actions
            tbody
                tr
                    td #{friend}
                    td
                        div.row
                            a.btn.btn-primary(href="/friends/#{friend}/profile") Show Profile
                            form(action='/friends/#{friend}/delete', method='post', name='deleteFriend', ,='', enctype='application/x-www-form-urlencoded')
                                input(type='hidden', value='DELETE', name='_method')
                                button.btn.btn-primary(type='submit') Delete
    div
        form.form-inline(action='/friends', id="search-friend", method='post', name='addFriend', ,='', enctype='application/x-www-form-urlencoded')
            .form-group
                input(type='hidden', value='PUT', name='_method')
                label.mr-sm-2(for='search-query') Search a friend
                input.form-control(type='text', name='friendName' id='search-query', placeholder="Enter your friends' username  ", required)
                button.btn.btn-primary.d-none(type='submit', id='quicksearch') Add

    script(src='/javascripts/search.js')
