extends ../layout

block content
    div.container
                h1 Add Character
                form(action='/characters/', method='post', name='addCharacter')
                    div.form-group.row
                        label.col-sm-2.col-form-label(for='name') Name
                        .col-sm-10
                            input.form-control#name(type='text', name='name', required='true')
                    div.form-check
                        label.form-check-label(for='M')
                            input.form-check-input#M(type='radio', name='sex', value='M', checked)
                            | Male
                    div.form-check
                        label.form-check-label(for='F')
                            input.form-check-input#F(type='radio', name='sex', value='F')
                            | Female
                        small.form-text.text-muted Sorry, helisexual is not supported yet.
                    button.btn.btn-primary(type='submit') Create