extends ../layout

block content
    div.container
        div.row
            div.col-sm-6.col-md-4.col-md-offset-4
                h1 Add Character
                form(action='/characters/', method='post', name='addCharacter')
                    p
                        label(for='name') Name:
                        input#name(type='text', name='name')
                    p
                        | Sex:
                        label(for='M') Male
                        input#M(type='radio', name='sex', value='M')
                        label(for='F') Female
                        input#F(type='radio', name='sex', value='F')
                    button(type='submit') Create