extends ../layout

block content
    div.container
                h1 Add Character
                form(action='/characters/', method='post', name='addCharacter')
                    div.form-group.row
                        label.col-sm-2.col-form-label(for='name') Name
                        .col-sm-10
                            input.form-control#name(type='text', name='name', required='true')
                    div.form-check
                        label.form-check-label(for='M')
                            input.form-check-input#M(type='radio', name='sex', value='M', checked)
                            | Male
                    div.form-check
                        label.form-check-label(for='F')
                            input.form-check-input#F(type='radio', name='sex', value='F')
                            | Female
                        small.form-text.text-muted Sorry, helisexual is not supported yet.
                    div.form-group.row
                        label.col-sm-2.col-form-label(for='level') Level
                        .col-sm-10
                            select.form-control(name="level", id="level")
                                - for(var i = 1; i<=100;i++){
                                option(value="#{i}") Level #{i}
                                - }
                    div.form-group.row
                        label.col-sm-2.col-form-label(for='xp') XP
                        .col-sm-10
                            select.form-control(name="xp", id="xp")
                                - for(var i = 1; i<=100;i++){
                                option(value="#{i*20}") #{i*20}XP
                                - }
                    button.btn.btn-primary(type='submit') Create